/* Styling form and resume sections */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color:  rgb(89, 89, 121);
}

form {
    margin: auto;
    background-color: rgb(228, 242, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px #a484c7;
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #c0b1f4;


}

fieldset {
    border: 2px solid rgb(145, 107, 133);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(19, 1, 1);
}

label {
    display: block;
    margin-top: 10px;
    color: rgb(4, 1, 17);

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(145, 107, 133);
    border-radius: 4px;
    box-shadow: 0 0 15px rgb(150, 150, 197);
}

button {
    display: block;
    width: 100%;
    background-color: rgb(143, 143, 221);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(150, 150, 197, 0.893);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(196, 196, 237);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(145, 107, 133)  ;
    border-radius: 8px;
    background-color: rgb(228, 242, 255);
   
    box-shadow: 0 4px 8px #a484c7;
    /* Making the resume editable */
    outline:none;
}

#resume-display h2 {
    
    color: #c0b1f4;
    
    
  
}